base.html
<!DOCTYPE html>
<html>
  <head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8">
    <meta name="keywords" content="ULSU, ulsu, books, library, lib, UDT">
    <meta name="description" content="Ulyanovsk State University.">
    <meta name="author" content="UDT">
    <meta name="robots" content="all">
    <!--link(rel="stylesheet", type="text/css", media="screen and (max-width: 1024px)", href="css/style_smartphon.css")-->
    <link rel="stylesheet" type="text/css" media="screen" href="css/style_global.css">
    <link rel="stylesheet" type="text/css" href="libs/fort_awesome/css/font-awesome.min.css">
    <link rel="stylesheet" type="text/css" href="css/jquery.mCustomScrollbar.min.css">
    <link rel="stylesheet" type="text/css" href="css/bootstrap.min.css">
    <link rel="stylesheet" type="text/css" href="css/bootstrap-select.min.css">
    <title>Базовый шаблон</title>
  </head>
  <body>
    <!--Header-->
    <header>
      <div class="top_header"><a href="#header_top_menu" class="open_modal letter_top bright">
          <div class="top_menu"><i class="fa fa-align-justify"></i></div>
          <div id="overlay"></div></a>
        <div class="logo"><a href="index.html"><img src="img/logo.png" alt="ULSU" style="width:40px; height:40px"></a></div>
        <div class="story"><a href="#"><span class="story">Сведения об образовательной организации</span></a><span style="color: hsla(0,0%,0%,1)">/Основные сведения</span>
          <div id="header_search_menu" class="menu header_search_menu base">
            <div class="user_menu_title">Поиск</div>
            <div onClick="menu('#header_search_menu'); return false" style="float: right" class="form_close"><span class="letter_top"><i class="fa fa-times"></i></span></div>
            <input type="text" style="margin-bottom: 20px" placeholder="Что ищем??" class="input">
            <input type="button" value="Искать" class="button_header">
          </div>
          <div id="header_user_menu" class="menu header_user_menu base">
            <div class="user_menu_title">Авторизация</div>
            <div onClick="menu('#header_user_menu'); return false" style="float: right" class="form_close"><span class="letter_top"><i class="fa fa-times"></i></span></div>
            <input type="text" autocomplete="on" placeholder="Логин" class="input">
            <input type="password" autocomplete="off" placeholder="Пароль" class="input">
            <div class="error_password">
              <div style="float: left; margin: 5% 0 5% 10%"><a href="#" class="bright">Забыли пароль?</a></div>
              <div style="float: right; margin: 5% 10% 5% 0"><a href="registration.html" class="bright">Регистрация.</a></div>
              <input type="button" value="Войти" class="button_header">
            </div>
          </div>
          <div class="user_active base">User &nbsp;|<a href="#">Список пользователей &nbsp; |&nbsp;</a><a href="#">Выйти</a></div>
        </div>
        <div class="user">
          <div id="user_icons" onClick="menu('#header_user_menu'); return false" class="letter_top user_icons"><i class="fa fa-user"></i></div>
          <div id="search_icons" onClick="menu('#header_search_menu'); return false" class="letter_top user_icons"><i class="fa fa-search"></i></div>
        </div>
        <div class="language"><a href="#">Rus</a>&nbsp;&nbsp;<a href="#">Eng</a></div>
      </div>
      <div class="line"></div>
      <div class="bottom_header_img bottom_header">
        <div id="header_bottom_menu" class="menu header_bottom_menu">
          <div onClick="menu('#header_bottom_menu'); return false" style="float: left, margin-top: 15px" class="form_close"><span class="letter_top"><i class="fa fa-times"></i></span></div>
          <div style="margin: 0 15px" class="bright base_menu">
            <ul class="bottom_menu_open bright">
              <li><b>Об университете</b></li>
              <li><a href="#">Образовательные программы</a></li>
              <li><a href="#">Научная деятельность</a></li>
              <li><a href="#">Довузовское образование</a></li>
              <li><a href="#">Студентам</a></li>
              <li><a href="#">Выпускникам</a></li>
              <li><a href="#">Сотрудникам</a></li>
              <li><a href="#">Структура</a></li>
              <li><a href="#">Базовые кафедры</a></li>
              <li><a href="#">Социальная политика</a></li>
              <li><a href="#">Аккредитация УлГУ</a></li>
              <li><a href="#">Попечительский совет</a></li>
              <li><a href="#">Система менеджмента качества</a></li>
              <li><a href="#">Школы-партнёры</a></li>
              <li><a href="#">Сотрудничество</a></li>
            </ul>
          </div>
        </div>
        <div id="bottom_menu" onClick="menu('#header_bottom_menu'); return false" class="letter_top bottom_menu"><i class="fa fa-th"></i></div>
        <div style="text-align: left; margin-top: 80px" class="title"><span style="color: hsla(0, 0%, 0%, 1)" class="h_title">ШАБЛОН</span><br><br></div>
      </div>
    </header>
    <!--Content-->
    <main>
      <div id="header_top_menu" class="modal_div">
        <div style="position: absolute; right: 0; top: 0px" class="modal_close form_close"><span class="letter_top"><i class="fa fa-times"></i></span></div>Структура универаСтруктура универаСтруктура универа<br>Структура универаСтруктура универаСтруктура универа<br>Структура универаСтруктура универаСтруктура универа<br>Структура универаСтруктура универаСтруктура универа<br>Структура универаСтруктура универаСтруктура универа<br>Структура универаСтруктура универаСтруктура универа<br>
      </div>
    </main>
    <!--Footer-->
    <footer>
      <div class="footer">
        <div class="copyright_footer"><span class="bright copyright">Copyright &copy; Ульяновский государственный университет, 1995-2015</span></div>
        <div class="info">
          <div class="adr_title">Как нас найти</div>
          <div class="adr_content">
            <div class="adress font3"><span class="font4">Почтовый адрес:</span><br>Россия, г. Ульяновск, 432017, ул. Л.Толстого, 42<br><br><span class="font4">Телефон:</span><br>Общий отдел:<br>8(7422) 41-20-88<br>Приёмная комиссия:<br>8(8422)41-20-90<br><br></div>
            <div class="mail font3"><span class="font4">Факс:</span><br>Общий отдел:<br>8(8422)41-20-88<br><br><span class="font4">Технические вопросы:</span><br>Администрация сайта<br><a href="mailto:webmaster@ulsu.ru">webmaster@ulsu.ru</a><br><br><span>.font4 E-mail:</span><br><a href="mailto:contact@ulsu.ru">contact@ulsu.ru</a><br><br></div>
          </div>
        </div>
        <div class="links_box">
          <div class="links_title">Мы в соц.сетях</div>
          <div class="links_content"><a href="https://www.vk.com" target="_blank">
              <div class="links vk"><span class="letter_links"><i class="fa fa-vk"></i></span></div>&nbsp;Вконтакте<br></a><a href="http://www.facebook.com" target="_blank">
              <div class="links fb"><span class="letter_links"><i class="fa fa-facebook"></i></span></div>&nbsp;Facebook<br></a><a href="http://www.twitter.com" target="_blank">
              <div class="links tw"><span class="letter_links"><i class="fa fa-twitter"></i></span></div>&nbsp;Twitter<br></a><a href="https://www.plus.google.com" target="_blank">
              <div class="links gp"><span class="letter_links"><i class="fa fa-google-plus"></i></span></div>&nbsp;GooglePlus<br></a><a href="https://www.youtube.com" target="_blank">
              <div class="links yt"><span class="letter_links"><i class="fa fa-youtube"></i></span></div>&nbsp;YouTube</a></div>
        </div>
      </div>
    </footer>
    <!--Scripts-->
    <script src="js/menu_div.js" async></script>
    <script src="js/jquery.min.js"></script>
    <script src="js/jquery.mCustomScrollbar.concat.min.js"></script>
    <script>
      (function ($) {
          $(window).load(function () {
              $(".content").mCustomScrollbar();
          });
      })(jQuery);
    </script>
    <script src="js/bootstrap.min.js"></script>
    <script src="js/header_line_menu.js"></script>
    <script src="js/bootstrap-select.min.js"></script>
    <script src="js/defaults-ru_RU.min.js"></script>
    <script>$('.selectpicker').selectpicker();</script>
    <script src="js/modal.js"></script>
    <script src="js/add_remove_prog.js"></script>
    <script src="js/home_nav_line.js"></script>
  </body>
</html>

base.jade
doctype html
html
   head
      meta(http-equiv="Content-Type", content="text/html; charset=utf-8")
      meta(name="keywords", content="ULSU, ulsu, books, library, lib, UDT")
      meta(name="description", content="Ulyanovsk State University.")
      meta(name="author", content="UDT")
      meta(name="robots", content="all")
      include ./includes/_links
      title Базовый шаблон
   body
      //Header
      header
         include ./includes/_top_header
         .bottom_header_img.bottom_header
            include ./includes/_header_bottom_menu
            #bottom_menu.letter_top.bottom_menu(onClick="menu('#header_bottom_menu'); return false")
               i.fa.fa-th
            .title(style="text-align: left; margin-top: 80px")
               span.h_title(style="color: hsla(0, 0%, 0%, 1)") ШАБЛОН
               br
               br
      //Content
      main
         include ./includes/_modal_div
      //Footer
      include ./includes/_footer
      //Scripts
      include ./includes/_scripts
