doc_edit.jade
doctype html
html
   head
      meta(http-equiv="Content-Type", content="text/html; charset=utf-8")
      meta(name="keywords", content="ULSU, ulsu, books, library, lib, UDT")
      meta(name="description", content="Ulyanovsk State University.")
      meta(name="author", content="UDT")
      meta(name="robots", content="all")
      include ./includes/_links
      title Редактирование раздела "Документы".
   body
      //Header
      header
         include ./includes/_top_header
         .bottom_header_img.doc_edit_background_header.bottom_header
            include ./includes/_header_bottom_menu
            #bottom_menu.letter_top.bottom_menu.bottom_menu(onClick="menu('#header_bottom_menu'); return false")
               i.fa.fa-th
            .title(style="text-align: left")
               span.h_title Редактирование раздела "Документы" основных  образовательных программ
               br
               br
            .header_bottom_line
      //Content
      main
         div(style="margin: 0 2%")
            .content1.border_none
               .h_title(style="text-align: left; color: #000000; margin: 0 20px 20px 40px; width: 90%") Документы
               .content1.border_none
                  b Выберите образовательную программу, которую хотите заполнить
                  select.selectpicker.up(data-width="80%")
                     option Программа 1
                     option Программа 2
                     option Программа 3
                  button.btn.buttom_reg.up(type="button", style=" width: 30%")
                     b.base_menu_mid Сохранить и перейти к заполнению
               .line.up
               .content1.up.border_none
                  button.remove
                     i.glyphicon.glyphicon-remove
                  span.base_menu_mid.up.block
                     b Описание образовательной программы
                  .comment.margin_left.block В документ, формируемый редактором Microsoft Word, вставляются сканированные страницы с подписями и печатями. Документ сохраняется в формате *.pdf.
                  div
                     button#new_prog_file_.btn.new_form_btn.margin_left
                        span.glyphicon.glyphicon-plus.prog_add
                        | Добавить файл
                  .download_file.margin_left Уже загруженные файлы:
                     br
                     a(href="#") Изменение в Устав УлГУ от 21.05.1989г.
                     span.glyphicon.glyphicon-remove.prog_remove.margin_left
               .content1.up.border_none
                  button.remove
                     i.glyphicon.glyphicon-remove
                  span.base_menu_mid.up.block
                     b Информация о численности обучающихся по реализуемым образовательным программам за счёт бюджетных ассигнований федерального бюджета, бюджетов субъектов
                     |Российской Федерации, местных бюджетов и по договорам об образовании за счёт средств физических и (или) юридических лиц
                  .comment.margin_left
                     | 1) Документ формируется в текстовом редакторе Microsoft Word и сохраняется в формате *.pdf.
                     br
                     | 2) Представляется в формате таблицы на сайте (
                     a(href="#") таблица 6
                     | ).
                  div
                     button#new_prog_file_end_tabl_.btn.new_form_btn.margin_left
                        span.glyphicon.glyphicon-plus.prog_add
                        | Добавить файл
                  .download_file.margin_left
                     | Уже загруженные файлы:
                     br
                     a(href="#") Изменение в Устав УлГУ от 21.05.1989г.
                     span.glyphicon.glyphicon-remove.prog_remove.margin_left
               .content1.up.border_none
                  button.remove
                     i.glyphicon.glyphicon-remove
                  span.base_menu_mid.up.block
                     b Аннотации к рабочим программам дисциплин (по каждой дисциплине в составе образовательной программы)
                  .comment.margin_left.block В документ, формируемый редактором Microsoft Word, вставляются сканированные страницы с подписями и печатями. Документ сохраняется в формате *.pdf.
                  div
                     button#castom_prog_.btn.btn-default.block.padding_top.new_form_btn Добавить рабочую программу
                  .line(style="width: 100%; margin: 10px auto")
               .content1.up.border_none
                  button.remove
                     i.glyphicon.glyphicon-remove
                  .comment.margin_left.block(style="font-style: normal")
                     | Также вы можете добавить все рабочие программы одним файлом (.zip). Пример имени файла: Компьютерная_безопасность.pdf (
                     i Слова в названии должны быть разделены символом нижнего подчёркивания "_"
                     | ). Затем вам нужно установить соответствующие факультеты и кафедры и проверить правильность названия.
                     input#new_doc_zip.margin_left(type="file" )
                  div
                     button#castom_doc_.btn.btn-default.block.padding_top.new_form_btn Добавить новый документ
               .btn-group
                  button.btn.buttom_reg
                     b.base_menu_mid Сохранить
                  button.btn.buttom_reg
                     b.base_menu_mid Сохранить и продолжить редактирование
         .invis
            #new_prog_file_0.new_prog.margin_left
               button.remove
                  i.glyphicon.glyphicon-remove
               .new_prog_file
                  input#new_prog_file(type="file")
               .or или
               .new_prog_zip
                  input#new_prog_zip(type="file")
                  p.up Добавить файл одним архивом(.zip)
            #new_prog_file_and_tabl_0.new_prog.margin_left
               button.remove
                  i.glyphicon.glyphicon-remove
               .new_prog_file
                  input#new_prog_col_file(type="file")
               .or или
               .new_prog_zip
                  input#new_prog_col_zip(type="file")
                  p.up Добавить файл одним архивом(.zip)
            #castom_prog_0.new_prog_castom.margin_left
               button.remove
                  i.glyphicon.glyphicon-remove
               b.base Введите название рабочей программы
               .block.up
                  input.form-control(type="text")
               .item_group_prog.up.block
                  .item_year.item_prog
                     p.base.b Выберите учебные года
                     select.selectpicker(data-width="100%")
                        option 2015/2016
                        option 2014/2015
                        option 2013/2014
                  .item_status.item_prog
                     p.base.b Выберите статус
                     select.selectpicker(data-width="100%")
                        option Обязательный
                        option Необязательный
                  .item_time.item_prog
                     p.base.b Когда читается
                     select.selectpicker(data-width="100%")
                        option 1-й курс, 1 семестр
                        option 1-й курс, 2 семестр
                        option 2-й курс, 1 семестр
                  .item_language.item_prog
                     p.base.b Выберите язык
                     select.selectpicker(data-width="100%")
                        option РУС
                        option АНГЛ
               input#new_castom_prog.up(type="file")
            #castom_doc_0.castom_doc.margin_left
               button.remove
                  i.glyphicon.glyphicon-remove
               .new_doc.block
                  b.base_menu_mid.up Введите название нового документа
                  input.form-control.up(type="text")
               div
                  #new_castom_doc_0.new_prog.up
                     button.remove
                        i.glyphicon.glyphicon-remove
                     .new_doc_file
                        input#new_doc_col_file(type="file")
                     .or или
                     .new_doc_zip
                        input#new_doc_col_zip(type="file")
                        p.up Добавить файл одним архивом(.zip)
                  #new_castom_doc_.btn.new_form_btn
                     .glyphicon.glyphicon-plus.prog_add
                     | Добавить файл
               .download_file.up
                  | Уже загруженные файлы:
                  br
                  a(href="#") Изменение в Устав УлГУ от 21.05.1989г.
                  span.glyphicon.glyphicon-remove.prog_remove.margin_left
         include ./includes/_modal_div
      //Footer
      include ./includes/_footer
      //Scripts
      include ./includes/_scripts

doc_edit.html
<!DOCTYPE html>
<html>
  <head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8">
    <meta name="keywords" content="ULSU, ulsu, books, library, lib, UDT">
    <meta name="description" content="Ulyanovsk State University.">
    <meta name="author" content="UDT">
    <meta name="robots" content="all">
    <!--link(rel="stylesheet", type="text/css", media="screen and (max-width: 1024px)", href="css/style_smartphon.css")-->
    <link rel="stylesheet" type="text/css" media="screen" href="css/style_global.css">
    <link rel="stylesheet" type="text/css" href="libs/fort_awesome/css/font-awesome.min.css">
    <link rel="stylesheet" type="text/css" href="css/jquery.mCustomScrollbar.min.css">
    <link rel="stylesheet" type="text/css" href="css/bootstrap.min.css">
    <link rel="stylesheet" type="text/css" href="css/bootstrap-select.min.css">
    <title>Редактирование раздела "Документы".</title>
  </head>
  <body>
    <!--Header-->
    <header>
      <div class="top_header"><a href="#header_top_menu" class="open_modal letter_top bright">
          <div class="top_menu"><i class="fa fa-align-justify"></i></div>
          <div id="overlay"></div></a>
        <div class="logo"><a href="index.html"><img src="img/logo.png" alt="ULSU" style="width:40px; height:40px"></a></div>
        <div class="story"><a href="#"><span class="story">Сведения об образовательной организации</span></a><span style="color: hsla(0,0%,0%,1)">/Основные сведения</span>
          <div id="header_search_menu" class="menu header_search_menu base">
            <div class="user_menu_title">Поиск</div>
            <div onClick="menu('#header_search_menu'); return false" style="float: right" class="form_close"><span class="letter_top"><i class="fa fa-times"></i></span></div>
            <input type="text" style="margin-bottom: 20px" placeholder="Что ищем??" class="input">
            <input type="button" value="Искать" class="button_header">
          </div>
          <div id="header_user_menu" class="menu header_user_menu base">
            <div class="user_menu_title">Авторизация</div>
            <div onClick="menu('#header_user_menu'); return false" style="float: right" class="form_close"><span class="letter_top"><i class="fa fa-times"></i></span></div>
            <input type="text" autocomplete="on" placeholder="Логин" class="input">
            <input type="password" autocomplete="off" placeholder="Пароль" class="input">
            <div class="error_password">
              <div style="float: left; margin: 5% 0 5% 10%"><a href="#" class="bright">Забыли пароль?</a></div>
              <div style="float: right; margin: 5% 10% 5% 0"><a href="registration.html" class="bright">Регистрация.</a></div>
              <input type="button" value="Войти" class="button_header">
            </div>
          </div>
          <div class="user_active base">User &nbsp;|<a href="#">Список пользователей &nbsp; |&nbsp;</a><a href="#">Выйти</a></div>
        </div>
        <div class="user">
          <div id="user_icons" onClick="menu('#header_user_menu'); return false" class="letter_top user_icons"><i class="fa fa-user"></i></div>
          <div id="search_icons" onClick="menu('#header_search_menu'); return false" class="letter_top user_icons"><i class="fa fa-search"></i></div>
        </div>
        <div class="language"><a href="#">Rus</a>&nbsp;&nbsp;<a href="#">Eng</a></div>
      </div>
      <div class="line"></div>
      <div class="bottom_header_img doc_edit_background_header bottom_header">
        <div id="header_bottom_menu" class="menu header_bottom_menu">
          <div onClick="menu('#header_bottom_menu'); return false" style="float: left, margin-top: 15px" class="form_close"><span class="letter_top"><i class="fa fa-times"></i></span></div>
          <div style="margin: 0 15px" class="bright base_menu">
            <ul class="bottom_menu_open bright">
              <li><b>Об университете</b></li>
              <li><a href="#">Образовательные программы</a></li>
              <li><a href="#">Научная деятельность</a></li>
              <li><a href="#">Довузовское образование</a></li>
              <li><a href="#">Студентам</a></li>
              <li><a href="#">Выпускникам</a></li>
              <li><a href="#">Сотрудникам</a></li>
              <li><a href="#">Структура</a></li>
              <li><a href="#">Базовые кафедры</a></li>
              <li><a href="#">Социальная политика</a></li>
              <li><a href="#">Аккредитация УлГУ</a></li>
              <li><a href="#">Попечительский совет</a></li>
              <li><a href="#">Система менеджмента качества</a></li>
              <li><a href="#">Школы-партнёры</a></li>
              <li><a href="#">Сотрудничество</a></li>
            </ul>
          </div>
        </div>
        <div id="bottom_menu" onClick="menu('#header_bottom_menu'); return false" class="letter_top bottom_menu bottom_menu"><i class="fa fa-th"></i></div>
        <div style="text-align: left" class="title"><span class="h_title">Редактирование раздела "Документы" основных  образовательных программ</span><br><br></div>
        <div class="header_bottom_line"></div>
      </div>
    </header>
    <!--Content-->
    <main>
      <div style="margin: 0 2%">
        <div class="content1 border_none">
          <div style="text-align: left; color: #000000; margin: 0 20px 20px 40px; width: 90%" class="h_title">Документы</div>
          <div class="content1 border_none"><b>Выберите образовательную программу, которую хотите заполнить</b>
            <select data-width="80%" class="selectpicker up">
              <option>Программа 1</option>
              <option>Программа 2</option>
              <option>Программа 3</option>
            </select>
            <button type="button" style=" width: 30%" class="btn buttom_reg up"><b class="base_menu_mid">Сохранить и перейти к заполнению</b></button>
          </div>
          <div class="line up"></div>
          <div class="content1 up border_none">
            <button class="remove"><i class="glyphicon glyphicon-remove"></i></button><span class="base_menu_mid up block"><b>Описание образовательной программы</b></span>
            <div class="comment margin_left block">В документ, формируемый редактором Microsoft Word, вставляются сканированные страницы с подписями и печатями. Документ сохраняется в формате *.pdf.</div>
            <div>
              <button id="new_prog_file_" class="btn new_form_btn margin_left"><span class="glyphicon glyphicon-plus prog_add"></span>Добавить файл</button>
            </div>
            <div class="download_file margin_left">Уже загруженные файлы:<br><a href="#">Изменение в Устав УлГУ от 21.05.1989г.</a><span class="glyphicon glyphicon-remove prog_remove margin_left"></span></div>
          </div>
          <div class="content1 up border_none">
            <button class="remove"><i class="glyphicon glyphicon-remove"></i></button><span class="base_menu_mid up block"><b>Информация о численности обучающихся по реализуемым образовательным программам за счёт бюджетных ассигнований федерального бюджета, бюджетов субъектов</b>Российской Федерации, местных бюджетов и по договорам об образовании за счёт средств физических и (или) юридических лиц</span>
            <div class="comment margin_left">1) Документ формируется в текстовом редакторе Microsoft Word и сохраняется в формате *.pdf.<br>2) Представляется в формате таблицы на сайте (<a href="#">таблица 6</a>).</div>
            <div>
              <button id="new_prog_file_end_tabl_" class="btn new_form_btn margin_left"><span class="glyphicon glyphicon-plus prog_add"></span>Добавить файл</button>
            </div>
            <div class="download_file margin_left">Уже загруженные файлы:<br><a href="#">Изменение в Устав УлГУ от 21.05.1989г.</a><span class="glyphicon glyphicon-remove prog_remove margin_left"></span></div>
          </div>
          <div class="content1 up border_none">
            <button class="remove"><i class="glyphicon glyphicon-remove"></i></button><span class="base_menu_mid up block"><b>Аннотации к рабочим программам дисциплин (по каждой дисциплине в составе образовательной программы)</b></span>
            <div class="comment margin_left block">В документ, формируемый редактором Microsoft Word, вставляются сканированные страницы с подписями и печатями. Документ сохраняется в формате *.pdf.</div>
            <div>
              <button id="castom_prog_" class="btn btn-default block padding_top new_form_btn">Добавить рабочую программу</button>
            </div>
            <div style="width: 100%; margin: 10px auto" class="line"></div>
          </div>
          <div class="content1 up border_none">
            <button class="remove"><i class="glyphicon glyphicon-remove"></i></button>
            <div style="font-style: normal" class="comment margin_left block">Также вы можете добавить все рабочие программы одним файлом (.zip). Пример имени файла: Компьютерная_безопасность.pdf (<i>Слова в названии должны быть разделены символом нижнего подчёркивания "_"</i>). Затем вам нужно установить соответствующие факультеты и кафедры и проверить правильность названия.
              <input id="new_doc_zip" type="file" class="margin_left">
            </div>
            <div>
              <button id="castom_doc_" class="btn btn-default block padding_top new_form_btn">Добавить новый документ</button>
            </div>
          </div>
          <div class="btn-group">
            <button class="btn buttom_reg"><b class="base_menu_mid">Сохранить</b></button>
            <button class="btn buttom_reg"><b class="base_menu_mid">Сохранить и продолжить редактирование</b></button>
          </div>
        </div>
      </div>
      <div class="invis">
        <div id="new_prog_file_0" class="new_prog margin_left">
          <button class="remove"><i class="glyphicon glyphicon-remove"></i></button>
          <div class="new_prog_file">
            <input id="new_prog_file" type="file">
          </div>
          <div class="or">или</div>
          <div class="new_prog_zip">
            <input id="new_prog_zip" type="file">
            <p class="up">Добавить файл одним архивом(.zip)</p>
          </div>
        </div>
        <div id="new_prog_file_and_tabl_0" class="new_prog margin_left">
          <button class="remove"><i class="glyphicon glyphicon-remove"></i></button>
          <div class="new_prog_file">
            <input id="new_prog_col_file" type="file">
          </div>
          <div class="or">или</div>
          <div class="new_prog_zip">
            <input id="new_prog_col_zip" type="file">
            <p class="up">Добавить файл одним архивом(.zip)</p>
          </div>
        </div>
        <div id="castom_prog_0" class="new_prog_castom margin_left">
          <button class="remove"><i class="glyphicon glyphicon-remove"></i></button><b class="base">Введите название рабочей программы</b>
          <div class="block up">
            <input type="text" class="form-control">
          </div>
          <div class="item_group_prog up block">
            <div class="item_year item_prog">
              <p class="base b">Выберите учебные года</p>
              <select data-width="100%" class="selectpicker">
                <option>2015/2016</option>
                <option>2014/2015</option>
                <option>2013/2014</option>
              </select>
            </div>
            <div class="item_status item_prog">
              <p class="base b">Выберите статус</p>
              <select data-width="100%" class="selectpicker">
                <option>Обязательный</option>
                <option>Необязательный</option>
              </select>
            </div>
            <div class="item_time item_prog">
              <p class="base b">Когда читается</p>
              <select data-width="100%" class="selectpicker">
                <option>1-й курс, 1 семестр</option>
                <option>1-й курс, 2 семестр</option>
                <option>2-й курс, 1 семестр</option>
              </select>
            </div>
            <div class="item_language item_prog">
              <p class="base b">Выберите язык</p>
              <select data-width="100%" class="selectpicker">
                <option>РУС</option>
                <option>АНГЛ</option>
              </select>
            </div>
          </div>
          <input id="new_castom_prog" type="file" class="up">
        </div>
        <div id="castom_doc_0" class="castom_doc margin_left">
          <button class="remove"><i class="glyphicon glyphicon-remove"></i></button>
          <div class="new_doc block"><b class="base_menu_mid up">Введите название нового документа</b>
            <input type="text" class="form-control up">
          </div>
          <div>
            <div id="new_castom_doc_0" class="new_prog up">
              <button class="remove"><i class="glyphicon glyphicon-remove"></i></button>
              <div class="new_doc_file">
                <input id="new_doc_col_file" type="file">
              </div>
              <div class="or">или</div>
              <div class="new_doc_zip">
                <input id="new_doc_col_zip" type="file">
                <p class="up">Добавить файл одним архивом(.zip)</p>
              </div>
            </div>
            <div id="new_castom_doc_" class="btn new_form_btn">
              <div class="glyphicon glyphicon-plus prog_add"></div>Добавить файл
            </div>
          </div>
          <div class="download_file up">Уже загруженные файлы:<br><a href="#">Изменение в Устав УлГУ от 21.05.1989г.</a><span class="glyphicon glyphicon-remove prog_remove margin_left"></span></div>
        </div>
      </div>
      <div id="header_top_menu" class="modal_div">
        <div style="position: absolute; right: 0; top: 0px" class="modal_close form_close"><span class="letter_top"><i class="fa fa-times"></i></span></div>Структура универаСтруктура универаСтруктура универа<br>Структура универаСтруктура универаСтруктура универа<br>Структура универаСтруктура универаСтруктура универа<br>Структура универаСтруктура универаСтруктура универа<br>Структура универаСтруктура универаСтруктура универа<br>Структура универаСтруктура универаСтруктура универа<br>
      </div>
    </main>
    <!--Footer-->
    <footer>
      <div class="footer">
        <div class="copyright_footer"><span class="bright copyright">Copyright &copy; Ульяновский государственный университет, 1995-2015</span></div>
        <div class="info">
          <div class="adr_title">Как нас найти</div>
          <div class="adr_content">
            <div class="adress font3"><span class="font4">Почтовый адрес:</span><br>Россия, г. Ульяновск, 432017, ул. Л.Толстого, 42<br><br><span class="font4">Телефон:</span><br>Общий отдел:<br>8(7422) 41-20-88<br>Приёмная комиссия:<br>8(8422)41-20-90<br><br></div>
            <div class="mail font3"><span class="font4">Факс:</span><br>Общий отдел:<br>8(8422)41-20-88<br><br><span class="font4">Технические вопросы:</span><br>Администрация сайта<br><a href="mailto:webmaster@ulsu.ru">webmaster@ulsu.ru</a><br><br><span>.font4 E-mail:</span><br><a href="mailto:contact@ulsu.ru">contact@ulsu.ru</a><br><br></div>
          </div>
        </div>
        <div class="links_box">
          <div class="links_title">Мы в соц.сетях</div>
          <div class="links_content"><a href="https://www.vk.com" target="_blank">
              <div class="links vk"><span class="letter_links"><i class="fa fa-vk"></i></span></div>&nbsp;Вконтакте<br></a><a href="http://www.facebook.com" target="_blank">
              <div class="links fb"><span class="letter_links"><i class="fa fa-facebook"></i></span></div>&nbsp;Facebook<br></a><a href="http://www.twitter.com" target="_blank">
              <div class="links tw"><span class="letter_links"><i class="fa fa-twitter"></i></span></div>&nbsp;Twitter<br></a><a href="https://www.plus.google.com" target="_blank">
              <div class="links gp"><span class="letter_links"><i class="fa fa-google-plus"></i></span></div>&nbsp;GooglePlus<br></a><a href="https://www.youtube.com" target="_blank">
              <div class="links yt"><span class="letter_links"><i class="fa fa-youtube"></i></span></div>&nbsp;YouTube</a></div>
        </div>
      </div>
    </footer>
    <!--Scripts-->
    <script src="js/menu_div.js" async></script>
    <script src="js/jquery.min.js"></script>
    <script src="js/jquery.mCustomScrollbar.concat.min.js"></script>
    <script>
      (function ($) {
          $(window).load(function () {
              $(".content").mCustomScrollbar();
          });
      })(jQuery);
    </script>
    <script src="js/bootstrap.min.js"></script>
    <script src="js/header_line_menu.js"></script>
    <script src="js/bootstrap-select.min.js"></script>
    <script src="js/defaults-ru_RU.min.js"></script>
    <script>$('.selectpicker').selectpicker();</script>
    <script src="js/modal.js"></script>
    <script src="js/add_remove_prog.js"></script>
    <script src="js/home_nav_line.js"></script>
  </body>
</html>
