home.html
<!DOCTYPE html>
<html>
  <head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8">
    <meta name="keywords" content="ULSU, ulsu, books, library, lib, UDT">
    <meta name="description" content="Ulyanovsk State University.">
    <meta name="author" content="UDT">
    <meta name="robots" content="all">
    <!--link(rel="stylesheet", type="text/css", media="screen and (max-width: 1024px)", href="css/style_smartphon.css")-->
    <link rel="stylesheet" type="text/css" media="screen" href="css/style_global.css">
    <link rel="stylesheet" type="text/css" href="libs/fort_awesome/css/font-awesome.min.css">
    <link rel="stylesheet" type="text/css" href="css/jquery.mCustomScrollbar.min.css">
    <link rel="stylesheet" type="text/css" href="css/bootstrap.min.css">
    <link rel="stylesheet" type="text/css" href="css/bootstrap-select.min.css">
    <title>Ульяновский государственный университет</title>
  </head>
  <body>
    <!--Header-->
    <header>
      <div class="top_header">
        <div class="story"><a href="#" class="story base bright"><i class="fa fa-circle home_top_quote"></i>Вниманию средних медицинских работников</a>
          <div id="header_search_menu" style="right:8.7%" class="menu header_search_menu base">
            <div class="user_menu_title">Поиск</div>
            <div onClick="menu('#header_search_menu'); return false" style="float: right" class="form_close"><span class="letter_top"><i class="fa fa-times"></i></span></div>
            <input type="text" style="margin-bottom: 20px" placeholder="Что ищем??" class="input">
            <input type="button" value="Искать" class="button_header">
          </div>
          <div id="header_user_menu" style="right:12.2%" class="menu header_user_menu base">
            <div class="user_menu_title">Авторизация</div>
            <div onClick="menu('#header_user_menu'); return false" style="float: right" class="form_close"><span class="letter_top"><i class="fa fa-times"></i></span></div>
            <input type="text" autocomplete="on" placeholder="Логин" class="input">
            <input type="password" autocomplete="off" placeholder="Пароль" class="input">
            <div class="error_password">
              <div style="float: left; margin: 5% 0 5% 10%"><a href="#" class="bright">Забыли пароль?</a></div>
              <div style="float: right; margin: 5% 10% 5% 0"><a href="registration.html" class="bright">Регистрация.</a></div>
              <input type="button" value="Войти" class="button_header">
            </div>
          </div>
          <div class="user_active base">User &nbsp;|<a href="#">Список пользователей &nbsp; |&nbsp;</a><a href="#">Выйти</a></div>
        </div>
        <div class="user">
          <div id="user_icons" onClick="menu('#header_user_menu'); return false" class="letter_top user_icons"><i class="fa fa-user"></i></div>
          <div id="search_icons" onClick="menu('#header_search_menu'); return false" class="letter_top user_icons"><i class="fa fa-search"></i></div>
        </div>
        <div class="language"><a href="#">Rus</a>&nbsp;&nbsp;<a href="#">Eng</a></div>
      </div>
      <div class="home_header_logo_left"></div>
      <div class="home_header_logo_right"></div>
      <div class="bottom_header_img bottom_header flex_row border_none">
        <div class="home_logo">
          <div class="home_header_title">Ульяновский государственный<br>университет
            <p class="bright base_menu_mid helvetica">Классический выбор</p>
          </div><img src="img/logo_home.png" alt="ULSU" style="width: auto; height: 70%">
          <div class="home_logo_icons"><a href="#" class="letter_top">
              <div class="icon_map"><img src="img/icons_map.png" alt="icon_map" style="width: 100%; height: 100%"></div></a><a href="#" class="letter_top">
              <div class="icon_piramid"><img src="img/icons_piramid.png" alt="icon_piramid" style="width: 100%; height: 100%"></div></a></div>
        </div>
        <div class="home_menu">
          <div class="item_abit home_menu_item">
            <ul>
              <li class="orange weight_mid">Абитуриенту</li>
              <li><a href="#">Бакалавриат</a></li>
              <li><a href="#">Специалитет</a></li>
              <li><a href="#">Магистратура</a></li>
            </ul>
          </div>
          <div class="item_stud home_menu_item">
            <ul>
              <li class="green weight_mid">Студенту</li>
              <li><a href="#">Расписание</a></li>
              <li><a href="#">Общие студенческие<br>ресурсы</a></li>
              <li><a href="#">Общежитие</a></li>
              <li><a href="#">Аспирантура</a></li>
            </ul>
          </div>
          <div class="item_all home_menu_item">
            <ul>
              <li class="purpure weight_mid">Общие</li>
              <li><a href="#">Структура</a></li>
              <li><a href="#">Ресурсы</a></li>
              <li><a href="#">Адреса и контакты</a></li>
            </ul>
          </div>
        </div>
      </div>
    </header>
    <!--Content-->
    <nav style="position: relative; width: 100%; max-width: 1280px; margin: 0 auto"><a id="home_line_menu_add" class="home_line_menu"><i class="fa fa-align-justify"></i></a><a id="home_line_menu_close" style="display: none" class="home_line_menu"><i class="fa fa-times"></i></a>
      <div style="width: 93%" class="btn-group up"><a href="#" class="btn btn-link">Об университете</a><a href="#" class="btn btn-link">Образовательные программы</a><a href="#" class="btn btn-link">Научная деятельность</a><a href="#" class="btn btn-link">Довузовское образование</a><a href="#" class="btn btn-link">Студентам</a><a href="#" class="btn btn-link">Выпускникам</a><a href="#" class="btn btn-link">Сотрудникам</a><a href="#" class="btn btn-link">Структура</a></div>
      <div id="home_line_menu" style="display: none" class="btn-group"><a href="#" class="btn btn-link">Базовые кафедры</a><a href="#" class="btn btn-link">Социальная политика</a><a href="#" class="btn btn-link">Аккредитация УлГУ</a><a href="#" class="btn btn-link">Попечительский совет</a><a href="#" class="btn btn-link">Система менеджмента качества</a><a href="#" class="btn btn-link">Школы-партнёры</a><a href="#" class="btn btn-link">Сотрудничество</a></div>
    </nav>
    <main style="margin-top: 20px">
      <div class="container">
        <div style="width: 61%; flex-basis: auto" class="content1 border_none">
          <div id="carousel-example-generic" data-ride="carousel" style="width: 100%;" class="carousel slide">
            <!--Indicators-->
            <ol style="bottom: -30px" class="carousel-indicators">
              <li data-target="#carousel-example-generic" data-slide-to="0" class="active"></li>
              <li data-target="#carousel-example-generic" data-slide-to="1"></li>
              <li data-target="#carousel-example-generic" data-slide-to="2"></li>
              <li data-target="#carousel-example-generic" data-slide-to="3"></li>
            </ol>
            <!--Wrapper for slides-->
            <div class="carousel-inner">
              <div class="item active"><img src="./img/home_slide_12.jpg" alt="Slide_11">
                <div class="carousel-caption"><span class="slider">Вниманию&nbsp;школьников!</span><br><span class="white base_menu_mid">Объявлен набор школьников на курсы подготовки к ЕГЭ</span></div>
              </div>
              <div class="item"><img src="./img/home_slide_12.jpg" alt="Slide_12">
                <div class="carousel-caption"><span class="slider">Вниманию&nbsp;школьников!</span><br><span class="white base_menu_mid">Объявлен набор школьников на курсы подготовки к ЕГЭ</span></div>
              </div>
              <div class="item"><img src="./img/home_slide_12.jpg" alt="Slide_13">
                <div class="carousel-caption"><span class="slider">Вниманию&nbsp;школьников!</span><br><span class="white base_menu_mid">Объявлен набор школьников на курсы подготовки к ЕГЭ</span></div>
              </div>
              <div class="item"><img src="./img/home_slide_12.jpg" alt="Slide_14">
                <div class="carousel-caption"><span class="slider">Вниманию&nbsp;школьников!</span><br><span class="white base_menu_mid">Объявлен набор школьников на курсы подготовки к ЕГЭ</span></div>
              </div>
            </div>
            <!--Controls--><a href="#carousel-example-generic" data-slide="prev" class="left carousel-control"></a><a href="#carousel-example-generic" data-slide="next" class="right carousel-control"></a>
            <!--.carousel_chrome-->
          </div>
          <div class="table_content">
            <div class="news_row">
              <div class="logo_row"><img src="./img/news_1.bmp" width="auto" height="100%" class="img-circle">
                <p class="purpure base b">24</p>
                <p class="bright base_little">января 2015г.</p>
              </div>
              <div class="data_row">
                <div class="title_row"><a href="#" class="base_menu_big">УлГУ откроет свои двери для абитуриентов</a></div>
                <div class="text_row up">
                  8 февраля УлГУ приглашает всех абитуриентов на день открытых дверей.
                  В этот день абитуриенты получат возможность ближе познакомиться с деятельностью сразу двух подразделений:
                  юридического вакультета и факультета гумунитарных наук и социальных технологий.
                </div>
                <div class="theme_row">
                  <div style="background-color: hsla(123, 38%, 64%, 1)" class="theme_letter">У</div><a href="#">Новости</a><a href="#">Абитуриенту</a><i style="font-size: 0.5rem; color: hsla(0, 0%, 60%, 1); margin: 10px 10px; float: top" class="fa fa-circle"></i><a href="#">День открытых дверей</a>
                </div>
              </div>
            </div>
          </div>
        </div>
        <nav class="home_nav">
          <div class="home_news">
            <div class="events">
              <div class="item_title">Мероприятия</div>
              <div class="item_content"><a href="#">
                  <div class="item_row"><span>17 ноября - 18 ноября</span><span>Дистанционный цикл</span><span>повышения квалификации средних медицинских работников</span></div></a>
                <div class="hr"></div><a href="#">
                  <div class="item_row"><span>17 ноября - 18 ноября</span><span>Итоговая государственная</span><span>аттестация</span></div></a>
                <div class="hr"></div>
              </div>
            </div>
            <div class="warning">
              <div class="item_title">Важно</div>
              <div class="item_content"><a href="#">
                  <div class="item_row"><span>Приёмная комиссия</span><span>информирует</span></div></a>
                <div class="hr"></div><a href="#">
                  <div class="item_row"><span>Программа</span><span>стратегического развития УлГУ</span></div></a>
                <div class="hr"></div><a href="#">
                  <div class="item_row"><span>Консультативный сектор</span><span>по вопросам реорганизации ВУЗов</span></div></a>
                <div class="hr"></div><a href="#">
                  <div class="item_row"><span>УлГУ в</span><span>рейтингах</span></div></a>
                <div class="hr"></div><a href="#">
                  <div class="item_row"><span>УлГУ</span><span>ТВ</span></div></a>
                <div class="hr"></div><a href="#">
                  <div class="item_row"><span>Виртуальный тур</span><span>по УлГУ</span></div></a>
                <div class="hr"></div><a href="#">
                  <div class="item_row"><span>Расписание работы</span><span>компьютерных классов</span></div></a>
                <div class="hr"></div><a href="#">
                  <div class="item_row"><span>Расписание работы</span><span>мультимедийных классов</span></div></a>
                <div class="hr"></div><a href="#">
                  <div class="item_row"><span>Сборник</span><span>резюме УлГУ</span></div></a>
              </div>
            </div>
          </div>
          <div class="home_info">
            <div class="schedule">
              <div class="item_title">Понедельник<i class="fa fa-clock-o fa-lg"></i><br>2 неделя | 5 пара<br>14:50 - 16:10</div>
            </div>
            <div class="news_menu">
              <div class="item_title">Рубрикатор новостей</div>
              <div class="item_content"><a href="#">
                  <div class="item_row">Все новости УлГУ</div></a>
                <div class="hr"></div><a href="#">
                  <div class="item_row">Студентам</div></a>
                <div class="hr"></div><a href="#">
                  <div class="item_row">Научная деятельность</div></a>
                <div class="hr"></div><a href="#">
                  <div class="item_row">Спортивные новости</div></a>
                <div class="hr"></div><a href="#">
                  <div class="item_row">Пресса об УлГУ</div></a>
                <div class="hr"></div><a href="#">
                  <div class="item_row">Университетские новости</div></a>
              </div>
            </div>
            <div class="accessibility">Версия для людей с ограниченными возможностями<i class="fa fa-eye fa-lg"></i></div>
            <div class="catalog">
              <div class="item_title">Справочники</div>
              <div class="item_content"><a href="#">
                  <div class="item_row">Телефоы</div></a><a href="#">
                  <div class="item_row">Доменные имена</div></a><a href="#">
                  <div class="item_row">Символика</div></a></div>
            </div>
            <div class="question">
              <div class="item_title">Задать вопрос?<span class="fa-stack"><i class="fa fa-question fa-stack-1x"></i><i class="fa fa-circle-thin fa-stack-2x"></i></span></div>
            </div>
            <div class="typo">
              <div class="item_title">Нашли опечатку?<i class="fa fa-pencil-square-o fa-lg"></i></div>
              <div class="item_content"></div>Выделите её, нажмите Ctrl+Enter и отправьте нам уведомление. Спасибо за участие!
            </div>
          </div>
        </nav>
      </div>
    </main>
    <!--Footer-->
    <footer>
      <div class="footer">
        <div class="copyright_footer"><span class="bright copyright">Copyright &copy; Ульяновский государственный университет, 1995-2015</span></div>
        <div class="info">
          <div class="adr_title">Как нас найти</div>
          <div class="adr_content">
            <div class="adress font3"><span class="font4">Почтовый адрес:</span><br>Россия, г. Ульяновск, 432017, ул. Л.Толстого, 42<br><br><span class="font4">Телефон:</span><br>Общий отдел:<br>8(7422) 41-20-88<br>Приёмная комиссия:<br>8(8422)41-20-90<br><br></div>
            <div class="mail font3"><span class="font4">Факс:</span><br>Общий отдел:<br>8(8422)41-20-88<br><br><span class="font4">Технические вопросы:</span><br>Администрация сайта<br><a href="mailto:webmaster@ulsu.ru">webmaster@ulsu.ru</a><br><br><span>.font4 E-mail:</span><br><a href="mailto:contact@ulsu.ru">contact@ulsu.ru</a><br><br></div>
          </div>
        </div>
        <div class="links_box">
          <div class="links_title">Мы в соц.сетях</div>
          <div class="links_content"><a href="https://www.vk.com" target="_blank">
              <div class="links vk"><span class="letter_links"><i class="fa fa-vk"></i></span></div>&nbsp;Вконтакте<br></a><a href="http://www.facebook.com" target="_blank">
              <div class="links fb"><span class="letter_links"><i class="fa fa-facebook"></i></span></div>&nbsp;Facebook<br></a><a href="http://www.twitter.com" target="_blank">
              <div class="links tw"><span class="letter_links"><i class="fa fa-twitter"></i></span></div>&nbsp;Twitter<br></a><a href="https://www.plus.google.com" target="_blank">
              <div class="links gp"><span class="letter_links"><i class="fa fa-google-plus"></i></span></div>&nbsp;GooglePlus<br></a><a href="https://www.youtube.com" target="_blank">
              <div class="links yt"><span class="letter_links"><i class="fa fa-youtube"></i></span></div>&nbsp;YouTube</a></div>
        </div>
      </div>
    </footer>
    <!--Scripts-->
    <script src="js/menu_div.js" async></script>
    <script src="js/jquery.min.js"></script>
    <script src="js/jquery.mCustomScrollbar.concat.min.js"></script>
    <script>
      (function ($) {
          $(window).load(function () {
              $(".content").mCustomScrollbar();
          });
      })(jQuery);
    </script>
    <script src="js/bootstrap.min.js"></script>
    <script src="js/header_line_menu.js"></script>
    <script src="js/bootstrap-select.min.js"></script>
    <script src="js/defaults-ru_RU.min.js"></script>
    <script>$('.selectpicker').selectpicker();</script>
    <script src="js/modal.js"></script>
    <script src="js/add_remove_prog.js"></script>
    <script src="js/home_nav_line.js"></script>
  </body>
</html>

home.jade
doctype html
html
   head
      meta(http-equiv="Content-Type", content="text/html; charset=utf-8")
      meta(name="keywords", content="ULSU, ulsu, books, library, lib, UDT")
      meta(name="description", content="Ulyanovsk State University.")
      meta(name="author", content="UDT")
      meta(name="robots", content="all")
      include ./includes/_links
      title Ульяновский государственный университет
   body
      //Header
      header
         include ./includes/_top_header_home
         .home_header_logo_left
         .home_header_logo_right
         .bottom_header_img.bottom_header.flex_row.border_none
            .home_logo
               .home_header_title Ульяновский государственный
                  br
                  | университет
                  p.bright.base_menu_mid.helvetica Классический выбор
               img(src="img/logo_home.png", alt="ULSU", style="width: auto; height: 70%")
               .home_logo_icons
                  a.letter_top(href="#")
                     .icon_map
                        img(src="img/icons_map.png", alt="icon_map", style="width: 100%; height: 100%")
                  a.letter_top(href="#")
                     .icon_piramid
                        img(src="img/icons_piramid.png", alt="icon_piramid", style="width: 100%; height: 100%")
            .home_menu
               .item_abit.home_menu_item
                  ul
                     li.orange.weight_mid Абитуриенту
                     li
                        a(href="#") Бакалавриат
                     li
                        a(href="#") Специалитет
                     li
                        a(href="#") Магистратура
               .item_stud.home_menu_item
                  ul
                     li.green.weight_mid Студенту
                     li
                        a(href="#") Расписание
                     li
                        a(href="#") Общие студенческие
                         br
                         | ресурсы
                     li
                        a(href="#") Общежитие
                     li
                        a(href="#") Аспирантура
               .item_all.home_menu_item
                  ul
                     li.purpure.weight_mid Общие
                     li
                        a(href="#") Структура
                     li
                        a(href="#") Ресурсы
                     li
                        a(href="#") Адреса и контакты
      //Content
      nav(style="position: relative; width: 100%; max-width: 1280px; margin: 0 auto")
         a#home_line_menu_add.home_line_menu
            i.fa.fa-align-justify
         a#home_line_menu_close.home_line_menu(style="display: none")
            i.fa.fa-times
         .btn-group.up(style="width: 93%")
            a.btn.btn-link(href="#") Об университете
            a.btn.btn-link(href="#") Образовательные программы
            a.btn.btn-link(href="#") Научная деятельность
            a.btn.btn-link(href="#") Довузовское образование
            a.btn.btn-link(href="#") Студентам
            a.btn.btn-link(href="#") Выпускникам
            a.btn.btn-link(href="#") Сотрудникам
            a.btn.btn-link(href="#") Структура
         #home_line_menu.btn-group(style="display: none")
            a.btn.btn-link(href="#") Базовые кафедры
            a.btn.btn-link(href="#") Социальная политика
            a.btn.btn-link(href="#") Аккредитация УлГУ
            a.btn.btn-link(href="#") Попечительский совет
            a.btn.btn-link(href="#") Система менеджмента качества
            a.btn.btn-link(href="#") Школы-партнёры
            a.btn.btn-link(href="#") Сотрудничество
      main(style="margin-top: 20px")
         .container
            .content1.border_none(style="width: 61%; flex-basis: auto")
               #carousel-example-generic.carousel.slide(data-ride="carousel" style="width: 100%;")
                  //Indicators
                  ol.carousel-indicators(style="bottom: -30px")
                     li.active(data-target="#carousel-example-generic" data-slide-to="0")
                     li(data-target="#carousel-example-generic" data-slide-to="1")
                     li(data-target="#carousel-example-generic" data-slide-to="2")
                     li(data-target="#carousel-example-generic" data-slide-to="3")
                  //Wrapper for slides
                  .carousel-inner
                     .item.active
                        img(src="./img/home_slide_12.jpg" alt="Slide_11")
                        .carousel-caption
                           span.slider Вниманию&nbsp;школьников!
                           br
                           span.white.base_menu_mid Объявлен набор школьников на курсы подготовки к ЕГЭ
                     .item
                        img(src="./img/home_slide_12.jpg" alt="Slide_12")
                        .carousel-caption
                           span.slider Вниманию&nbsp;школьников!
                           br
                           span.white.base_menu_mid Объявлен набор школьников на курсы подготовки к ЕГЭ
                     .item
                        img(src="./img/home_slide_12.jpg" alt="Slide_13")
                        .carousel-caption
                           span.slider Вниманию&nbsp;школьников!
                           br
                           span.white.base_menu_mid Объявлен набор школьников на курсы подготовки к ЕГЭ
                     .item
                        img(src="./img/home_slide_12.jpg" alt="Slide_14")
                        .carousel-caption
                           span.slider Вниманию&nbsp;школьников!
                           br
                           span.white.base_menu_mid Объявлен набор школьников на курсы подготовки к ЕГЭ
                  //Controls
                  a.left.carousel-control(href="#carousel-example-generic" data-slide="prev")
                  a.right.carousel-control(href="#carousel-example-generic" data-slide="next")
                  //.carousel_chrome

               .table_content
                  .news_row
                     .logo_row
                        img.img-circle(src="./img/news_1.bmp" width="auto" height="100%")
                        p.purpure.base.b 24
                        p.bright.base_little января 2015г.
                     .data_row
                        .title_row
                           a.base_menu_big(href="#") УлГУ откроет свои двери для абитуриентов
                        .text_row.up 8 февраля УлГУ приглашает всех абитуриентов на день открытых дверей.
                           | В этот день абитуриенты получат возможность ближе познакомиться с деятельностью сразу двух подразделений:
                           | юридического вакультета и факультета гумунитарных наук и социальных технологий.
                        .theme_row
                           .theme_letter(style="background-color: hsla(123, 38%, 64%, 1)") У
                           a(href="#") Новости
                           a(href="#") Абитуриенту
                           i.fa.fa-circle(style="font-size: 0.5rem; color: hsla(0, 0%, 60%, 1); margin: 10px 10px; float: top")
                           a(href="#") День открытых дверей
            nav.home_nav
               .home_news
                  .events
                     .item_title Мероприятия
                     .item_content
                        a(href="#")
                           .item_row
                              span 17 ноября - 18 ноября
                              span Дистанционный цикл
                              span повышения квалификации средних медицинских работников
                        .hr
                        a(href="#")
                           .item_row
                              span 17 ноября - 18 ноября
                              span Итоговая государственная
                              span аттестация
                        .hr
                  .warning
                     .item_title Важно
                     .item_content
                        a(href="#")
                           .item_row
                              span Приёмная комиссия
                              span информирует
                        .hr
                        a(href="#")
                           .item_row
                              span Программа
                              span стратегического развития УлГУ
                        .hr
                        a(href="#")
                           .item_row
                              span Консультативный сектор
                              span по вопросам реорганизации ВУЗов
                        .hr
                        a(href="#")
                           .item_row
                              span УлГУ в
                              span рейтингах
                        .hr
                        a(href="#")
                           .item_row
                              span УлГУ
                              span ТВ
                        .hr
                        a(href="#")
                           .item_row
                              span Виртуальный тур
                              span по УлГУ
                        .hr
                        a(href="#")
                           .item_row
                              span Расписание работы
                              span компьютерных классов
                        .hr
                        a(href="#")
                           .item_row
                              span Расписание работы
                              span мультимедийных классов
                        .hr
                        a(href="#")
                           .item_row
                              span Сборник
                              span резюме УлГУ
               .home_info
                  .schedule
                     .item_title Понедельник
                        i.fa.fa-clock-o.fa-lg
                        br
                        | 2 неделя | 5 пара
                        br
                        | 14:50 - 16:10
                  .news_menu
                     .item_title Рубрикатор новостей
                     .item_content
                        a(href='#')
                           .item_row Все новости УлГУ
                        .hr
                        a(href='#')
                           .item_row Студентам
                        .hr
                        a(href='#')
                           .item_row Научная деятельность
                        .hr
                        a(href='#')
                           .item_row Спортивные новости
                        .hr
                        a(href='#')
                           .item_row Пресса об УлГУ
                        .hr
                        a(href='#')
                           .item_row Университетские новости
                  .accessibility
                     | Версия для людей с ограниченными возможностями
                     i.fa.fa-eye.fa-lg
                  .catalog
                     .item_title Справочники
                     .item_content
                        a(href='#')
                           .item_row Телефоы
                        a(href='#')
                           .item_row Доменные имена
                        a(href='#')
                           .item_row Символика
                  .question
                     .item_title
                        | Задать вопрос?
                        span.fa-stack
                           i.fa.fa-question.fa-stack-1x
                           i.fa.fa-circle-thin.fa-stack-2x
                  .typo
                     .item_title
                        | Нашли опечатку?
                        i.fa.fa-pencil-square-o.fa-lg
                     .item_content
                     | Выделите её, нажмите Ctrl+Enter и отправьте нам уведомление. Спасибо за участие!

      //Footer
      include ./includes/_footer
      //Scripts
      include ./includes/_scripts
