index.jade
doctype html
html
   head
      meta(http-equiv="Content-Type" content="text/html; charset=utf-8")
      meta(name="keywords", content="ULSU, ulsu, books, library, lib, UDT")
      meta(name="description", content="Ulyanovsk State University.")
      meta(name="author", content="UDT")
      meta(name="robots", content="all")
      include ./includes/_links
      title Сведения об образовательной организации.
   body

      //Header
      header
         include ./includes/_top_header
         .bottom_header
            include ./includes/_header_bottom_menu
            #bottom_menu.letter_top.edu_bottom_menu(onClick="menu('#header_bottom_menu'); return false")
               i.fa.fa-th
            .title(style="justify-content: center")
               span.h_title(style="color: #000000; margin-bottom: 40px") Образование.
      //Content
      main
         .container
            .content1
               span.font1 Образование в Ульяновском государственном университете.
               span.up.font2 В УлГУ реализуется N бакалаворских, M магистерских, S специалитет образовательных программ.
               .header_dropdown
                  button.btn.btn-default(data-toggle="dropdown") Высшее образование &nbsp;&nbsp;
                     span.caret
                  ul.dropdown-menu.nav-pills(style="border: none; top: 18%; left: 1%")
                     li
                        a.btn.btn-default(href="#") Бакалавриат
                     li
                        a.btn.btn-default(href="#") Магистратура
                     li
                        a.btn.btn-default(href="#") Специалитет
                  a.btn.btn-default(href="#") Средне специальное образование
                  a.btn.btn-default(href="#") Аспирантура
                  a.btn.btn-default(href="#") Ординатура
               .table_content
                  .table_header
                     .number
                     .program
                        span.bright Программа
                     .training
                        span.bright Обучение
                     .plan
                        span.bright План приёма 2015г.
                  //Start new section
                  .table_row
                     .table_row_title
                        .table_row_title_number.number 09.00.00
                        .table_row_title_name.program Информатика и вычислительная техника.
                     .table_row_data
                        //Start new row
                        .table_row_data_new
                           .number.right 09.12.13
                           .program
                              a(href="#") Информатика и вычислительные технологии.
                              span.bright Факультет математики, информационных и авиационных технологий.
                              br
                              | Кафедра прикладной математики.
                           .training 2 года
                              br
                              span.color_training Очная/Заочная
                           .plan
                              span.color_plan 10 бюджетных
                              br
                              | 5 платых
                  //Start new section
                  .table_row
                     .table_row_title
                        .table_row_title_number.number 09.00.00
                        .table_row_title_name.program Информатика и вычислительная техника.
                     .table_row_data
                        //Start new row
                        .table_row_data_new
                           .number.right 09.12.13
                           .program
                              a(href="#") Информатика и вычислительные технологии.
                                 br
                              span.bright Факультет математики, информационных и авиационных технологий.
                                 br
                                 | Кафедра прикладной математики.
                           .training
                              | 2 года
                              br
                              span.color_training Очная/Заочная
                           .plan
                              span.color_plan 10 бюджетных
                              br
                              | 5 платых
                        //Start new row
                        .table_row_data_new
                           .number.right 09.12.13
                           .program
                              a(href="#") Информатика и вычислительные технологии.
                              br
                              span.bright Факультет математики, информационных и авиационных технологий.
                              br
                              | Кафедра прикладной математики.
                           .training
                              | 2 года
                              br
                              span.color_training Очная/Заочная
                           .plan
                              span.color_plan 10 бюджетных
                              br
                              | 5 платых

            nav
               ul.right_menu.font3
                  li
                     b Основные сведения
                  li
                     a(href="#") Структура и органы управления образовательной организацией
                  li
                     a(href="#") Образование
                  li
                     a(href="#") Образовательные стандарты
                  li
                     a(href="#") Руководство Педагогический(научно-педагогический) состав
                  li
                     a(href="#") Материально-техническое обеспечение и оснащённость образовательного процесса
                  li
                     a(href="#") Стипендии и иные виды материальной поддержки
                  li
                     a(href="#") Платные образовательные услуги
                  li
                     a(href="#") Финансово-хозяйственная деятельность
                  li
                     a(href="#") Вакантные места для приёма (перевода)
            include ./includes/_modal_div
      //Footer
      include ./includes/_footer
      //Scripts
      include ./includes/_scripts

index.html
<!DOCTYPE html>
<html>
  <head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8">
    <meta name="keywords" content="ULSU, ulsu, books, library, lib, UDT">
    <meta name="description" content="Ulyanovsk State University.">
    <meta name="author" content="UDT">
    <meta name="robots" content="all">
    <!--link(rel="stylesheet", type="text/css", media="screen and (max-width: 1024px)", href="css/style_smartphon.css")-->
    <link rel="stylesheet" type="text/css" media="screen" href="css/style_global.css">
    <link rel="stylesheet" type="text/css" href="libs/fort_awesome/css/font-awesome.min.css">
    <link rel="stylesheet" type="text/css" href="css/jquery.mCustomScrollbar.min.css">
    <link rel="stylesheet" type="text/css" href="css/bootstrap.min.css">
    <link rel="stylesheet" type="text/css" href="css/bootstrap-select.min.css">
    <title>Сведения об образовательной организации.</title>
  </head>
  <body>
    <!--Header-->
    <header>
      <div class="top_header"><a href="#header_top_menu" class="open_modal letter_top bright">
          <div class="top_menu"><i class="fa fa-align-justify"></i></div>
          <div id="overlay"></div></a>
        <div class="logo"><a href="index.html"><img src="img/logo.png" alt="ULSU" style="width:40px; height:40px"></a></div>
        <div class="story"><a href="#"><span class="story">Сведения об образовательной организации</span></a><span style="color: hsla(0,0%,0%,1)">/Основные сведения</span>
          <div id="header_search_menu" class="menu header_search_menu base">
            <div class="user_menu_title">Поиск</div>
            <div onClick="menu('#header_search_menu'); return false" style="float: right" class="form_close"><span class="letter_top"><i class="fa fa-times"></i></span></div>
            <input type="text" style="margin-bottom: 20px" placeholder="Что ищем??" class="input">
            <input type="button" value="Искать" class="button_header">
          </div>
          <div id="header_user_menu" class="menu header_user_menu base">
            <div class="user_menu_title">Авторизация</div>
            <div onClick="menu('#header_user_menu'); return false" style="float: right" class="form_close"><span class="letter_top"><i class="fa fa-times"></i></span></div>
            <input type="text" autocomplete="on" placeholder="Логин" class="input">
            <input type="password" autocomplete="off" placeholder="Пароль" class="input">
            <div class="error_password">
              <div style="float: left; margin: 5% 0 5% 10%"><a href="#" class="bright">Забыли пароль?</a></div>
              <div style="float: right; margin: 5% 10% 5% 0"><a href="registration.html" class="bright">Регистрация.</a></div>
              <input type="button" value="Войти" class="button_header">
            </div>
          </div>
          <div class="user_active base">User &nbsp;|<a href="#">Список пользователей &nbsp; |&nbsp;</a><a href="#">Выйти</a></div>
        </div>
        <div class="user">
          <div id="user_icons" onClick="menu('#header_user_menu'); return false" class="letter_top user_icons"><i class="fa fa-user"></i></div>
          <div id="search_icons" onClick="menu('#header_search_menu'); return false" class="letter_top user_icons"><i class="fa fa-search"></i></div>
        </div>
        <div class="language"><a href="#">Rus</a>&nbsp;&nbsp;<a href="#">Eng</a></div>
      </div>
      <div class="line"></div>
      <div class="bottom_header">
        <div id="header_bottom_menu" class="menu header_bottom_menu">
          <div onClick="menu('#header_bottom_menu'); return false" style="float: left, margin-top: 15px" class="form_close"><span class="letter_top"><i class="fa fa-times"></i></span></div>
          <div style="margin: 0 15px" class="bright base_menu">
            <ul class="bottom_menu_open bright">
              <li><b>Об университете</b></li>
              <li><a href="#">Образовательные программы</a></li>
              <li><a href="#">Научная деятельность</a></li>
              <li><a href="#">Довузовское образование</a></li>
              <li><a href="#">Студентам</a></li>
              <li><a href="#">Выпускникам</a></li>
              <li><a href="#">Сотрудникам</a></li>
              <li><a href="#">Структура</a></li>
              <li><a href="#">Базовые кафедры</a></li>
              <li><a href="#">Социальная политика</a></li>
              <li><a href="#">Аккредитация УлГУ</a></li>
              <li><a href="#">Попечительский совет</a></li>
              <li><a href="#">Система менеджмента качества</a></li>
              <li><a href="#">Школы-партнёры</a></li>
              <li><a href="#">Сотрудничество</a></li>
            </ul>
          </div>
        </div>
        <div id="bottom_menu" onClick="menu('#header_bottom_menu'); return false" class="letter_top edu_bottom_menu"><i class="fa fa-th"></i></div>
        <div style="justify-content: center" class="title"><span style="color: #000000; margin-bottom: 40px" class="h_title">Образование.</span></div>
      </div>
    </header>
    <!--Content-->
    <main>
      <div class="container">
        <div class="content1"><span class="font1">Образование в Ульяновском государственном университете.</span><span class="up font2">В УлГУ реализуется N бакалаворских, M магистерских, S специалитет образовательных программ.</span>
          <div class="header_dropdown">
            <button data-toggle="dropdown" class="btn btn-default">Высшее образование &nbsp;&nbsp;<span class="caret"></span></button>
            <ul style="border: none; top: 18%; left: 1%" class="dropdown-menu nav-pills">
              <li><a href="#" class="btn btn-default">Бакалавриат</a></li>
              <li><a href="#" class="btn btn-default">Магистратура</a></li>
              <li><a href="#" class="btn btn-default">Специалитет</a></li>
            </ul><a href="#" class="btn btn-default">Средне специальное образование</a><a href="#" class="btn btn-default">Аспирантура</a><a href="#" class="btn btn-default">Ординатура</a>
          </div>
          <div class="table_content">
            <div class="table_header">
              <div class="number"></div>
              <div class="program"><span class="bright">Программа</span></div>
              <div class="training"><span class="bright">Обучение</span></div>
              <div class="plan"><span class="bright">План приёма 2015г.</span></div>
            </div>
            <!--Start new section-->
            <div class="table_row">
              <div class="table_row_title">
                <div class="table_row_title_number number">09.00.00</div>
                <div class="table_row_title_name program">Информатика и вычислительная техника.</div>
              </div>
              <div class="table_row_data">
                <!--Start new row-->
                <div class="table_row_data_new">
                  <div class="number right">09.12.13</div>
                  <div class="program"><a href="#">Информатика и вычислительные технологии.</a><span class="bright">Факультет математики, информационных и авиационных технологий.</span><br>Кафедра прикладной математики.</div>
                  <div class="training">2 года<br><span class="color_training">Очная/Заочная</span></div>
                  <div class="plan"><span class="color_plan">10 бюджетных</span><br>5 платых</div>
                </div>
              </div>
            </div>
            <!--Start new section-->
            <div class="table_row">
              <div class="table_row_title">
                <div class="table_row_title_number number">09.00.00</div>
                <div class="table_row_title_name program">Информатика и вычислительная техника.</div>
              </div>
              <div class="table_row_data">
                <!--Start new row-->
                <div class="table_row_data_new">
                  <div class="number right">09.12.13</div>
                  <div class="program"><a href="#">Информатика и вычислительные технологии.<br></a><span class="bright">Факультет математики, информационных и авиационных технологий.<br>Кафедра прикладной математики.</span></div>
                  <div class="training">2 года<br><span class="color_training">Очная/Заочная</span></div>
                  <div class="plan"><span class="color_plan">10 бюджетных</span><br>5 платых</div>
                </div>
                <!--Start new row-->
                <div class="table_row_data_new">
                  <div class="number right">09.12.13</div>
                  <div class="program"><a href="#">Информатика и вычислительные технологии.</a><br><span class="bright">Факультет математики, информационных и авиационных технологий.</span><br>Кафедра прикладной математики.</div>
                  <div class="training">2 года<br><span class="color_training">Очная/Заочная</span></div>
                  <div class="plan"><span class="color_plan">10 бюджетных</span><br>5 платых</div>
                </div>
              </div>
            </div>
          </div>
        </div>
        <nav>
          <ul class="right_menu font3">
            <li><b>Основные сведения</b></li>
            <li><a href="#">Структура и органы управления образовательной организацией</a></li>
            <li><a href="#">Образование</a></li>
            <li><a href="#">Образовательные стандарты</a></li>
            <li><a href="#">Руководство Педагогический(научно-педагогический) состав</a></li>
            <li><a href="#">Материально-техническое обеспечение и оснащённость образовательного процесса</a></li>
            <li><a href="#">Стипендии и иные виды материальной поддержки</a></li>
            <li><a href="#">Платные образовательные услуги</a></li>
            <li><a href="#">Финансово-хозяйственная деятельность</a></li>
            <li><a href="#">Вакантные места для приёма (перевода)</a></li>
          </ul>
        </nav>
        <div id="header_top_menu" class="modal_div">
          <div style="position: absolute; right: 0; top: 0px" class="modal_close form_close"><span class="letter_top"><i class="fa fa-times"></i></span></div>Структура универаСтруктура универаСтруктура универа<br>Структура универаСтруктура универаСтруктура универа<br>Структура универаСтруктура универаСтруктура универа<br>Структура универаСтруктура универаСтруктура универа<br>Структура универаСтруктура универаСтруктура универа<br>Структура универаСтруктура универаСтруктура универа<br>
        </div>
      </div>
    </main>
    <!--Footer-->
    <footer>
      <div class="footer">
        <div class="copyright_footer"><span class="bright copyright">Copyright &copy; Ульяновский государственный университет, 1995-2015</span></div>
        <div class="info">
          <div class="adr_title">Как нас найти</div>
          <div class="adr_content">
            <div class="adress font3"><span class="font4">Почтовый адрес:</span><br>Россия, г. Ульяновск, 432017, ул. Л.Толстого, 42<br><br><span class="font4">Телефон:</span><br>Общий отдел:<br>8(7422) 41-20-88<br>Приёмная комиссия:<br>8(8422)41-20-90<br><br></div>
            <div class="mail font3"><span class="font4">Факс:</span><br>Общий отдел:<br>8(8422)41-20-88<br><br><span class="font4">Технические вопросы:</span><br>Администрация сайта<br><a href="mailto:webmaster@ulsu.ru">webmaster@ulsu.ru</a><br><br><span>.font4 E-mail:</span><br><a href="mailto:contact@ulsu.ru">contact@ulsu.ru</a><br><br></div>
          </div>
        </div>
        <div class="links_box">
          <div class="links_title">Мы в соц.сетях</div>
          <div class="links_content"><a href="https://www.vk.com" target="_blank">
              <div class="links vk"><span class="letter_links"><i class="fa fa-vk"></i></span></div>&nbsp;Вконтакте<br></a><a href="http://www.facebook.com" target="_blank">
              <div class="links fb"><span class="letter_links"><i class="fa fa-facebook"></i></span></div>&nbsp;Facebook<br></a><a href="http://www.twitter.com" target="_blank">
              <div class="links tw"><span class="letter_links"><i class="fa fa-twitter"></i></span></div>&nbsp;Twitter<br></a><a href="https://www.plus.google.com" target="_blank">
              <div class="links gp"><span class="letter_links"><i class="fa fa-google-plus"></i></span></div>&nbsp;GooglePlus<br></a><a href="https://www.youtube.com" target="_blank">
              <div class="links yt"><span class="letter_links"><i class="fa fa-youtube"></i></span></div>&nbsp;YouTube</a></div>
        </div>
      </div>
    </footer>
    <!--Scripts-->
    <script src="js/menu_div.js" async></script>
    <script src="js/jquery.min.js"></script>
    <script src="js/jquery.mCustomScrollbar.concat.min.js"></script>
    <script>
      (function ($) {
          $(window).load(function () {
              $(".content").mCustomScrollbar();
          });
      })(jQuery);
    </script>
    <script src="js/bootstrap.min.js"></script>
    <script src="js/header_line_menu.js"></script>
    <script src="js/bootstrap-select.min.js"></script>
    <script src="js/defaults-ru_RU.min.js"></script>
    <script>$('.selectpicker').selectpicker();</script>
    <script src="js/modal.js"></script>
    <script src="js/add_remove_prog.js"></script>
    <script src="js/home_nav_line.js"></script>
  </body>
</html>
